body{
    background: #000;
    overflow-y: auto;
    height: 100vh;
}
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    font-family: Arial sans-serif;
    background: #000;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}
.button {
  margin: 15px 15px 15px 0px;
  background: linear-gradient(180deg, #44cc44 0%, #228822 50%, #116611 100%);
  color: white;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.599), 
              inset 0 1px 1px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  transition: all 0.5s ease;
  pointer-events: none;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.921);
  filter: brightness(1.1);
  color: rgb(0, 0, 0);  
}

.button:hover::before {
  left: 100%;
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.option {
    display: block;
    margin-bottom: 5px;
}

.options {
    position: relative;
    overflow: hidden;   
    font-family: Arial, sans-serif;
    display: block;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #44cc44 0%, #228822 50%, #116611 100%);
    color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 
                inset 0 1px 1px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.options::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 50%; 
    height: 100%;
    background: linear-gradient(
        90deg, 
        transparent, 
        rgba(255, 255, 255, 0.4), 
        transparent
    );
    transform: skewX(-25deg);
    transition: none;
}

.options:hover::after {
    left: 150%; 
    transition: left 0.6s ease-in-out;
}


.selectOption{
    width: 150px;
    font-size: 15px;
    padding: 4px 6px;
}
.right-answer{
    color: rgb(19, 211, 19);
}
.wrong-answer{
    color: rgb(211, 19, 19);
}
.score{
    font-size: 15px;
}
select:valid{
    border: 3px solid green;
    border-radius: 2px;
}
option:checked{
    background-color: green;
}
.question-title{
    color: black;
}
input[type="checkbox"]{
    accent-color: rgb(16, 68, 16);
}
.main-heading{
    color: #fff;
}
.main-heading-bold{
    text-transform: uppercase;
    color: rgb(20, 147, 20);
}

.to-capital{
    text-transform: uppercase;
}
